src/main/mule/implmantaion_get_Customers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c1987a77-5174-407b-8cff-1b0d5273e7de" basePath="${secure::weatherapi.base-path}">
		<http:request-connection host="${secure::weatherapi.host}" />
	</http:request-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="b61810e5-1d8c-456c-8f3e-db14a7397124" >
		<db:my-sql-connection host="${secure::db.host}" port="${secure::db.port}" user="${secure::db.user}" password="${secure::db.password}" database="${secure::db.database}" />
	</db:config>
	<flow name="implmantaion_get_CustomersFlow" doc:id="28bd4601-e657-465c-abcf-b5c65ce3ed41" >
		<scheduler doc:name="Scheduler" doc:id="ac0e6fbe-cccf-4be4-92f2-826da6cf999d" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS" frequency="1"/>
			</scheduling-strategy>
		</scheduler>
		<salesforce:query doc:name="Query" doc:id="4a64fb75-12af-40a6-a68a-759d159d40ae" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Address__c,Email__c,Gender__c,Id,Id__c,Lattitud__c,Longitude__c,Name__c,Phone_Number__c FROM Customer__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0

output application/json
---

payload map {
   "Gender__c": if($.Gender__c == "Female") "Ladies" else  "Gents",
   "Id__c": ($.Id__c) as Number, 
   "Id": ($.Id),
   "Name__c": ($.Name__c)  default "chalachew",
   "Phone_Number__c":($.Phone_Number__c) default "4044242039",
   "Email__c": ($.Email__c)  default "chale@gmail.com",
   "Address__c": ($.Address__c),
   "Lattitud__c":($.Lattitud__c)as Number,
   "Longitude__c":($.Longitude__c)
}]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="Test" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
        
</ee:transform>
		<set-variable value="#[payload]" doc:name="fetchData" doc:id="49c66282-5c18-4d2b-b3b2-426ab378e02c" variableName="fetchData"/>
		<foreach doc:name="For Each" doc:id="eb27b8d1-4bfe-4755-abf4-352edac2b99d" >
			<choice doc:name="Choice" doc:id="805e3421-c36b-4666-b734-4f98de294d4c">
			<when expression="(payload.Lattitud__c)&gt;=10.99">
					<flow-ref doc:name="Flow Reference" doc:id="751de96e-3183-46db-9aca-7da299745db0" name="Weather-ApiSub_Flow"/>

</when>
		
</choice>
		</foreach>
	
	

</flow>
</mule>
